{% extends 'admin.html.twig' %}

{% block title %}
	Ajouter une catégorie
{% endblock %}

{% block body %}
	<section class="form">
		<h1 class="titre_categorie1 text-center">Modifier une catégorie</h1>
		<div class="container py-5">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-dark text-white" style="border-radius: 1rem;">
						<div class="card-body-login p-5 text-center">
							<div class="mb-md-5 mt-md-4 pb-5">
								{{ form(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
