<form method="post" action="{{ path('app_admin_commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
	<button class="btn btn-outline-light bg-dark">Delete</button>
</form>
