{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<h1>Reset your password</h1>

	{{ form_start(requestForm) }}
	{{ form_row(requestForm.email) }}
	<div>
		<small>
			Enter your email address and we will send you a
						                link to reset your password.
		</small>
	</div>

	<button class="btn btn-primary">Send password reset email</button>
	{{ form_end(requestForm) }}


<!-- Button trigger modal -->
	{# <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
			Modal form
		</button> #}

	<!-- Modal -->
	{# <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
			<div class="modal-dialog" style="width: 300px;">
				<div class="modal-content text-center">
					<div class="modal-header h5 text-white bg-primary justify-content-center">
						Password Reset
					</div>
					<div class="modal-body px-5">
						<p class="py-2">
							Enter your email address and we'll send you an email with instructions to reset your password.
						</p>
						<div class="form-outline">
							<input type="email" id="typeEmail" class="form-control my-3"/>
							<label class="form-label" for="typeEmail">Email input</label>
						</div>
						<a href="#" class="btn btn-primary w-100">Reset password</a>
						<div class="d-flex justify-content-between mt-4">
							<a class="" href="#">Login</a>
							<a class="" href="#">Register</a>
						</div>
					</div>
				</div>
			</div>
		</div> #}
{% endblock %}
