@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(211, 211, 211);
}

thead {
  color: #fff;
}

.japon {
  margin: auto;
  width: 1500px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.jap_img {
  width: 50%;
  margin-top: 145px;
  justify-content: center;
  padding-left: 35px;
}

.text_jap {
  width: 50%;
  text-align: justify;
  justify-content: center;
  margin-top: 145px;
  padding-right: 5px;
}
