@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
  background-color: rgb(211, 211, 211);
}

thead {
  color: #fff;
}

.gradient-custom {
  /* fallback for old browsers */
  background: rgb(0, 0, 3);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(5, 1, 51),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(5, 1, 51, 1),
    rgba(37, 117, 252, 1)
  );
}

button {
  border: 0;
  background: transparent;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 1.5em;
  box-shadow: 0px -0px 0px 0px rgba(5, 1, 51, 0.5),
    0px 0px 0px 0px rgba(39, 200, 255, 0.5);
  transition: all 0.2s;
}

button::after {
  content: "";
  width: 400px;
  height: 400px;
  background: linear-gradient(225deg, #005b23 0%, #26caf8 50%, #3857ef 100%);
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all 0.5s;
}

button:hover::after {
  transform: rotate(120deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(5, 1, 51, 0.25),
    -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

.rgb::after {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -4px;
  // border-radius: 35px;
  filter: blur(8px);
  z-index: -2;
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card-body {
  background: rgb(23, 21, 21);
  text-align: justify;
  box-shadow: 7px 7px 17px rgba(63, 62, 62, 0.9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-text {
  color: white;
  font-size: 17px;
  font-weight: 300;
}
.image {
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
}

.card-title {
  color: rgb(87, 84, 84);
}

.pays-infos {
  color: #ffca2c;
}
#logo-vog {
  color: #f4f2ef;
  font-size: 1.5rem;
  padding-bottom: 25px;
}
.fit-picture3 {
  transform: rotate(-85deg);
  margin-top: 18px;
}
.card-title-categorie {
  margin-top: 15px;
  margin-left: 57px;
  width: 85%;
  height: 80px;
  background: rgb(23, 21, 21);
  box-shadow: 7px 7px 17px rgba(#fcd2dc, 0.9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.card-title-bis {
  padding-top: 15px;
  color: #fcd2dc;
  text-align: center;
}
.fit-picture2 {
  transform: rotate(-190deg);
}
.fleur1,
.springboxs1 {
  margin-right: -59px;
}
.fleur {
  width: 50%;
  margin: auto;
  margin-right: 105px;
}

.springboxs_fleur {
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 490px;
}
.springboxs2 {
  transform: rotate(1.1turn);
  padding-top: 21px;
  margin-left: 5px;
}

.card-title-categorie-1 {
  margin-top: 15px;
  margin-left: 57px;
  width: 85%;
  height: 80px;
  background: rgb(23, 21, 21);
  box-shadow: 7px 7px 17px rgba(#f0c52b, 0.9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-title-bis1 {
  padding-top: 15px;
  color: #f0c52b;
  text-align: center;
}

.card-title-categorie-2 {
  margin-top: 15px;
  margin-left: 57px;
  width: 85%;
  height: 80px;
  background: rgb(23, 21, 21);
  box-shadow: 7px 7px 17px rgba(#4056fa, 0.9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.card-title-bis2 {
  padding-top: 15px;
  color: #4056fa;
  text-align: center;
}

.lys {
  margin-top: 50px;
  margin-left: 589px;
  margin-bottom: 65px;
}
.lizeret-1 {
  transform: rotate(252deg);
  padding-top: 95px;
  margin-bottom: -100px;
}
.lizeret-2 {
  transform: rotate(-18deg);
  padding-top: 15px;
}

.pat-jap {
  list-style-type: square;
  margin-top: 210px;
  margin-left: 125px;
  color: rgb(82, 78, 78);
}
.card-patisserie {
  width: 1600px;
  margin: auto;
  height: 350px;
}

.card-header-com:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header-com {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.625rem;
  height: 3.5rem;
  text-transform: uppercase;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}
.btn-com-primary {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
}
.btn-com {
  font-size: 0.8rem;
  font-weight: 500;
  outline: none !important;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
}
.card-body-com {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-body-com p {
  font-size: 13px;
}
a {
  color: #e91e63;
  text-decoration: none !important;
  background-color: transparent;
}
.media-com img {
  width: 40px;
  height: auto;
}

.reg_check {
  float: none !important;
  margin-right: 14px;
}

.title_com {
  color: rgb(245, 209, 66);
}

.arabesque {
  justify-content: center;
  width: 240px;
  margin-left: 850px;
  margin-bottom: 45px;
}

.arabesque_haut {
  transform: rotate(180deg);
  justify-content: center;
  width: 240px;
  margin-left: 850px;
  margin-bottom: 45px;
}
.card-com {
  background-color: #1a1a19;
  color: #fff;
  border-radius: 25% 10%;
}
.card-header-com {
  background-color: #1a1a19;
  color: #fff;
}

.image_annonce1 img {
  width: 300px !important;
  height: 200px !important;
  margin: auto;
}
.image_annonce img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
  margin: auto;
}

.image_annonce,
.image_annonce h2 {
  margin-top: 8px;
  text-align: center;
}
.image_annonce p,
.image_annonce ul h1 {
  text-align: left !important;
  text-align: justify;
  margin-bottom: 10px;
}

.annonce_title {
  margin-bottom: 90px;
  text-align: center;
  color: $gray-800;
  font-size: 8em;
  font-family: "Pinyon Script", cursive;
}

// .card-fond {
//   margin: auto;
//   padding-top: 14px;
//   background-color: #2b2b26;
//   border-top-left-radius: 2%;
//   border-top-right-radius: 2%;
// }

// .card-footer-fond {
//   background-color: #2b2b26 !important;
// }

// #fond-footer {
//   border-bottom-left-radius: 2%;
//   border-bottom-right-radius: 2%;
// }


$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}

