{% extends 'base.html.twig' %}

{% block title %}Photos index{% endblock %}

{% block body %}
    <h1>Photos index</h1>

        <main>
            <div
              class="container-fluid bg-trasparent my-4 p-3"
              style="position: relative"
            >
              <div
                class="flex-row"
              >
              <div class="d-flex justify-content-evenly row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-5 g-3">
                <div class="col">
                  <div class="card h-80 shadow-sm text-dark bg-light mb-3">
                    <img
                      src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <div class="clearfix mb-3">
        
                        <span class="float-end"><a href="#">Example</a></span>
                      </div>
                      <h5 class="card-title">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Veniam quidem eaque ut eveniet aut quis rerum. Asperiores
                        accusamus harum ducimus velit odit ut. Saepe, iste optio
                        laudantium sed aliquam sequi.
                      </h5>
                      <div class="d-grid gap-2 my-4">
                        <a href="#" class="btn btn-warning">Check offer</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </min>
{% endblock %}
