<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
	</head>
	<body>
        <section class="cat_africa">
            {% if pay.id == 9 %}
            <div class="container">
                <div class="row ">
                    <div class="col-sm springboxs1">
                        <img class="springboxs ms-5" width="170" src="/images/gallery/springboxs.png" alt="springboxs">
                    </div>
                    <div class="col-sm card-title-categorie-1 justify-content-center mt-5 me-5">
                        <h2 class="card-title-bis1 fw-bolder fst-italic">{{ categorie.categorie }}</h2>
                    </div>
                    <div class="col-sm springboxs2 ms-5">
                        <img class="springboxs2 ms-5" width="170" src="/images/gallery/springboxs.png" alt="springboxs">
                    </div>
                </div>
                <div class="col-sm springboxs_fleur ">
                    <img class="fit-picture" width="85" src="/images/gallery/springboxs_fleur.png" alt="springboxs_fleur">
                    <img class="fit-picture ms-5" width="85" src="/images/gallery/springboxs_fleur.png" alt="springboxs_fleur">
                </div>
                    </div>
            </div>
            {% endif %}
        </section>
    </body>
</html>


