<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
	</head>
	<body>
		<section class="cat_france">
			{% if pay.id == 8 %}
				<div class="container">
					<div class="row ">
						<div class="col-sm lizeret-1">
							<img class="lizeret-1" width="190" src="/images/gallery/lizeret.png" alt="lizeret français">
						</div>
						<div class="col-sm card-title-categorie-2 justify-content-center mt-5">
							<h2 class="card-title-bis2 fw-bolder fst-italic">{{ categorie.categorie }}</h2>
						</div>
						<div class="col-sm lizeret-2 ms-2">
							<img class="lizeret-2 ms-5" width="190" src="/images/gallery/lizeret.png" alt="lizeret français">
						</div>
					</div>
					<div class="col-sm lys ">
						<img class="fit-picture" width="59" src="/images/gallery/lys.png" alt="fleur de lys">
						<img class="fit-picture ms-5" width="59" src="/images/gallery/lys.png" alt="fleur de lys">
					</div>
				</div>
			</div>
		{% endif %}
	</body>
</html></section></body></html>
