<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
	</head>
	<body>
		<section class="cat_france">
			{% if pay.id == 7 %}

				<div class="container">
					<div class="row ">
						<div class="col-sm lys-1">
							<img class="lys-1" width="110" src="/images/gallery/lys.png" alt="fleur de lys">
						</div>
						<div class="col-sm card-title-categorie-2 justify-content-center mt-5">
							<h2 class="card-title-bis2 fw-bolder fst-italic">{{ categorie.categorie }}</h2>
						</div>
						<div class="col-sm lys-2 ms-2">
							<img class="lys-2 ms-5" width="110" src="/images/gallery/lys.png" alt="fleur de lys">
						</div>
					</div>
					<div class="col-sm lizeret ">
						<img class="fit-picture ms-5" width="199" src="/images/gallery/lizeret.png" alt="lizeret">
					</div>
				</div>
				{{ categorie.intitule }}

			</div>
		{% endif %}
	</body>
</html></section></body></html>
