<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
	</head>
	<body>

		<section class"cat_japon">
			{% if pay.id == 5 %}
				<div class="container">
					<div class="row ">
						<div class="col-sm fleur1 ms-5">
							<img class="fit-picture2 ms-5" width="170" src="/images/gallery/sakura2.png" alt="sakura">
						</div>
						<div class="col-sm card-title-categorie justify-content-center mt-5 me-5">
							<h2 class="card-title-bis fw-bolder fst-italic">{{ categorie.categorie }}</h2>
						</div>
						<div class="col-sm fleur2 ms-5">
							<img class="fit-picture3 ms-5" width="170" src="/images/gallery/sakura2.png" alt="sakura">
						</div>
					</div>
					<div class="col-sm fleur ">
						<img class="fit-picture" width="50" src="/images/gallery/sakura1.png" alt="sakura">
						<img class="fit-picture ms-5" width="50" src="/images/gallery/sakura1.png" alt="sakura">
					</div>
				</div>
			</div>
		</section>
		<section>

			<ul>
				<li class="pat-jap">
					<h2>{{ categorie.intitule }}</h2>
				</li>
			</ul>
			<div class="row">
				<div class="col mini-card">
					<div class="card-patisserie mb-3 mt-5">
						<div class="row no-gutters one">
							<div class="col-md-4 my-auto">
								<img src="/images/gallery/dorayaki.jpg" class="card-img" alt="dorayaki">
							</div>
							<div class="col-md-8">
								<div class="card-body-patisserie">
									<h5 class="card-title-patisserie">DORAYAKI</h5>
									<p class="card-text-patisserie">Le dorayaki est une pâtisserie japonaise. En japonais, dora signifie « gong », et cela expliquerait donc le nom de la pâtisserie. Celle-ci consiste en deux pâtes en forme de pancake, faites en kasutera, enveloppant une garniture de pâte de haricot rouge nommée anko.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="card-patisserie2 mb-3 mt-5">
						<div class="row no-gutters two">
							<div class="col-md-4 my-auto">
								<img src="/images/gallery/wagashi.jfif" class="card-img" alt="wagashi">
							</div>
							<div class="col-md-8">
								<div class="card-body-patisserie">
									<h5 class="card-title-patisserie">WAGASHI</h5>
									<p class="card-text-patisserie">Dans la cuisine japonaise, on appelle wagashi les pâtisseries traditionnelles, en opposition aux yōgashi, les pâtisseries occidentales. « Wa » voulant dire « japonais », et « kashi » « sucrerie », « gâteau ».</p>
								</div>
							</div>
						</div>
					</div>

					<div class="card-patisserie3 mb-3 mt-5">
						<div class="row no-gutters two">
							<div class="col-md-4 my-auto">
								<img src="/images/gallery/melonpan.jpg" class="card-img" alt="melonpan">
							</div>
							<div class="col-md-8">
								<div class="card-body-patisserie">
									<h5 class="card-title-patisserie">MELONPAN</h5>
									<p class="card-text-patisserie">Le pain melon est une spécialité boulangère dégustée au Japon, dont la partie interne est constituée de brioche classique et la croûte faite d'une sorte de cookie. La texture de cette croûte rappelle celle du melon cantaloup, d'où le nom.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<img class="mochi" src="/images/gallery/mochi.jpg" class="card-img" alt="mochi">
				</div>
			</div>
			{# <div class="card-patisserie6 mb-3 mt-5">
																																																					<div class="row no-gutters two">
																																																						<div class="col-md-8">
																																																							<div class="card-body-patisserie">
																																																								<h5 class="card-title-patisserie">MELONPAN</h5>
																																																								<p class="card-text-patisserie">Le pain melon est une spécialité boulangère dégustée au Japon, dont la partie interne est constituée de brioche classique et la croûte faite d'une sorte de cookie. La texture de cette croûte rappelle celle du melon cantaloup, d'où le nom.</p>
																																																							</div>
																																																						</div>
																																																						<div class="col-md-4 my-auto">
																																																							<img src="/images/gallery/melonpan.jpg" class="card-img" alt="melonpan">
																																																						</div>
																																																					</div>
																																																				</div> #}
		{% endif %}
	</body>
</html></section>
